<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TradeShare"
        android:allowBackup="true"
        android:icon="@mipmap/tradeshare_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tradeshare_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.Dashboard"
            android:exported="false" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpProcess"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>